body
{
    background: linear-gradient(120deg, rgb(202, 74, 0), rgb(73, 65, 109));
    margin-right: 0px;
    padding: 0px;

}

ul
{
    list-style: none;
}

a{
    text-decoration: none;
}

section
{
    width: 100%;
    height: 95vh;
    background-image: url(../imgs/fundo.webp);
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

/*Estilo Navegador*/

nav
{
    display: flex;
    justify-content: left;
    align-items: right;
    height: 50px;
    background-color: rgb(13, 136, 79);
    box-shadow: 8px 5px 10px rgb(138, 187, 3);
    padding: 0px 5%;
}

nav ul
{
    display: flex;
}

@import url('https://fonts.googleapis.com/css2?family=Exo:wght@100&display=swap');

nav ul li a
{
    margin: 30px;
    font-family: Exo, sans-serif;
    color: rgb(2, 37, 70);
    font-size: 15px;
    font-weight: 700;
}

.logo
{
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(4, 88, 167);
    font-size: 22px;
}

.active
{
    font-weight: bold;
    color: rgb(175, 3, 3);
    font-size: 25px;
}

/* Estilos Textos */

.conteudo-texto p:nth-child(1)
{
    font-family: calibri;
    font-weight: bold;
    color: rgb(52, 179, 41);
    font-size: 60px;
}

.conteudo-texto p:nth-child(2)
{
    font-family: calibri;
	font-weight: bold;
	letter-spacing: 1px;
	color: rgb(188, 202, 106);
	font-size: 45px;
}

.conteudo-texto p:nth-child(3)
{
	font-family: myriad pro regular;
	color: #0079a8;
	font-size: 30px;
	line-height: 30px;
}

.conteudo-texto 
{
	line-height: 13px;
	margin: 45px 10px 25px;
}

.conteudo-texto 
{
	position: absolute;
	left: 15%;
	top: 36%;
	transform: translate(-13%, -40%);
}

.conteudo-texto button
{
	width: 110px;
	height: 43px;
	border-radius: 13px;
	font-family: calibri;
	font-weight: bold;
	font-size: 16px;
	outline: none;
	margin: 0px 20px;
}

.btn1
{
	background-color: #910303;
	border: 2px solid #024694;
	color: #05ad51;
}

button:active
{
	transform: scale(1.1);
}

/* Estilo Imagem banner sem fundo */

.imgbg
{
	height: 50px;
	position: absolute;
	bottom: 40px;
	left: 60%;
	transform: translateX(-70%);
}

.conteudo-sobre-mim
{
	width: 84%;
	height:340px;
	background-color: #490202;
	border-radius: 30px;
	box-shadow: 2px 2px 12px rgb(3, 77, 88);
	display: flex;
	margin: -7% auto 20px auto;
	position: relative;
	justify-content: space-evenly;
	align-items: center;	
}

/* Estilo Imagem Sobre eu */

.conteudo-sobre-mim img
{
	height: 250px;
}

.texto-sobre-mim 
{
	width: 550px;
}

.cotexto-sobre  p:nth-child(1)
{
	color: #851313;
	font-family: myriad pro;
	font-weight: bold;
	font-size: 23px;
	line-height: 0px;
}

.texto-sobre-mim  p:nth-child(2)
{
	color: #2aa01a;
	font-size: 13px;
	font-family: myriad pro;
	font-weight: bold;
	line-height: 5px;
}

.texto-sobre-mim p:nth-child(3),
.texto-sobre-mim p:nth-child(4)
{
	color: #5f65b9;
	font-family: calibri;
	font-size: 16px;
}

.texto-sobre-mim button
{
	width: 120px;
	height: 40px;
	color: #00c3ff;
	outline: none;
	border:none;
	font-family: calibri;
	background-color: #926e1f;
}

/* Seção de Serviços  */

.servicos
{
	height: 600px;
	background-color: rgb(33, 197, 55);
}

.servicos-textos p:nth-child(1)
{
	font-family: calibri;
	font-weight: bold;
	color: #7ba30d;
	font-size:30px;
	line-height: 0px;

}

.servicos-textos p:nth-child(2)
{
	font-family: calibri;
	font-weight: bold;
	color: #d63108;
	font-size:15px;
	line-height: 5px;

}

.servicos-textos p:nth-child(3)
{
	font-family: calibri;
	color: #19ddf7;
	
}

 .servicos-textos
{
	width: 500px;
	margin: 50px 0px 0px 50px;
	
}

.box1, .box2, .box3, .box4
{
	width: 300px;
	height: 320px;
	background-repeat: no-repeat;
	background-size: cover;
	box-shadow: 2px 2px 12px rgb(115, 255, 1);
	display: flex;
	justify-content: center;
	align-items:  center;
	flex-direction: column;

}

.conteudo-box 
{
	display: flex;
    justify-content: space-between;
    margin-left: 50px;
    margin-right: 50px;
	
}

.box1
{
	background-image: url("../imgs/python-logo.jpg");
}


.box2
{
	background-image: url("../imgs/gamer.jpg");
}


.box3
{
	background-image: url("../imgs/projeto.png");
}

.box4
{
	background-image: url("../imgs/fala.png");
}

.box1 span,
.box2 span,
.box3 span,
.box4 span
{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: #e4d65e;
	display: flex;
	justify-content: center;
	align-items: center;
	font-family: calibri;
	font-weight: bold;
	margin-top: 10px;
	
}

.box1 p:nth-child(2),
.box2 p:nth-child(2),
.box3 p:nth-child(2),
.box4 p:nth-child(2)
{
	color: #89ff7a;
	font-family: calibri;
	font-size: 23px;
	line-height: 0px;
}

.box1 p:nth-child(3),
.box2 p:nth-child(3),
.box3 p:nth-child(3),
.box4 p:nth-child(3)
{
	font-family: calibri;
	text-align: center;
	width: 250px;
	color: #80f5d2;
	margin: 0px 0px 20px 0px;
	
}

.box1 button,
.box2 button,
.box3 button,
.box4 button
{
	width: 100px;
	height: 30px;
	background-color: #6154d4;
	border:none;
	outline: none;
	border-radius: 5px;
	margin-bottom: 10px;

}



/* Seção fale comigo */

.contato
{
	width: 100%;
	height: 280px;
	background-image: url(../imgs/tec.png);
	background-size: cover;
	background-repeat: no-repeat;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.contato p
{
	color: #a2db05;
	font-size: 30px;
	font-family: calibri;
	font-weight: bold;
	border-bottom: 2px solid #4000a7;
}

.contato button
{
	width: 200px;
	height: 40px;
	background-color: #99b400;
	outline: none;
	border:none;
	font-size: 14px;
	font-weight: bold;
}

/* Seção footer */

footer
{
	height: 200px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: relative;
}

footer p
{
	font-family: calibri;
}

footer p:nth-child(1)
{
	font-weight: bold;
	color: #2d8d32;
	line-height: 10px;
	font-size: 30px;
}

footer p:nth-child(2)
{
	font-size: 16px;
	color: #32b388;
	width: 500px;
	text-align: center;
}

.copy
{
	color: #4e229e;
	font-size: 13px;
	position: absolute;
	left: 50%;
	bottom: 10px;
	transform: translateX(-50%);
}

@media (max-width: 900px) 
{
	.logo
	{
		height: 20px;
	}

	.active
	{
		font-size: 25px;
	}

	.contato
	{
		height: 170px;
		width: 100%;
	}

	.copy
	{
		height: 12px;
	}

	.servicos
	{
		height: 600px;
	}
}

@media (max-width: 760px)
{
	.texto-sobre-mim
	{
		width: 480px;
	}
}